h1{
    text-align: center;
    background-color: #f4eeee;
    margin: 3%;
    padding: auto;
    border: #222;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f7fc;
    margin: 20px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
td {
    border: 1px solid #d6d6d6;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}

tr:first-child {
    background: linear-gradient(135deg, #898aa0, #898aa0);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

tr td:first-child {
    background-color: #697d8b;
    color: white;
    font-weight: bold;
    width: 80px;
}


td[rowspan="5"] {
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
    color: #222;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
}
tr:nth-child(even) {
    background-color: #f8f9ff;
}


td[colspan] {
    background-color: #e8f5e9;
    color: #6b72c4;
    font-weight: bold;
}  
#a{
     background-color: #898aa0;
    color: white;
    font-weight: bold;
    width: 80px;
}


